
.footer{
    background-color: rgb(50, 21, 1);
    color: cyan;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid cyan;
    /* position: sticky;
    bottom: 0px;
    margin: 0 auto; */
    width: 100% 
   
}


.footer img{
    width: 35px;
    height: 35px;
    background-color: white;
    margin: 10px;
    border-radius: 16px;
}

