.top{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('/public/images/coffee-types-banner-desktop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    border-bottom: 2px solid cyan;

}

.top a{
    color: white;
    text-decoration: none;
}

.top a:hover{
    text-decoration: underline cyan;
}
.leftSide{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* background-color: aqua; */

}

.rightSide{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* background-color: aqua; */
}

.logoImgDiv{
   /* background-color: aqua; */
   margin-right: 15%;
}

.logoImg{
    width: 35px;
    height: 35px;
}

.faq{
    text-transform: uppercase;
}

.search{
    width: 80px;
    height: 30px;
    border-radius: 30px;
    padding-left: 15px;
}

.cartDiv{
  
}
.cartDiv img{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
}