 
.top{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url('/public/images/coffee-types-banner-desktop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    border-bottom: 2px solid cyan;
}

.top a{
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0;
   
}

.top a:hover{
    text-decoration: underline cyan;
}
.leftSide{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.rightSide{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.logoImgDiv{
   margin-left: 35px; 
}

.logoImg{
    width: 35px;
    height: 35px;
}

.faq{
    text-transform: uppercase;
}

.search{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    padding-left: 15px;
}

.cartImg{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
  }

  .count{
    color: rgb(0, 255, 255);
    border-radius: 15px;
    position: relative;
    right: 28px;
  }