.prodDiv{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px; 
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
    background-color: sandybrown;
    color: rgb(80, 34, 2);
}

.prodImgDiv{
    width: 500px;
    /* border: 2px solid cyan; */
}
.prodImg{
    width: 100%;
    height: 360px;
}

.descDiv{
    text-align: center;
    background-color: sandybrown;
    width: 370px;
}

.descDiv p{
    margin-bottom: 20px;
}

.descDiv button{
    color: rgb(80, 34, 2);
    cursor: pointer;
    margin-top: 10px;
}

.color1{
    width: 50px;
    height: 40px;
    margin: 5px;
    border: none;
    background-color: rgb(80, 34, 2);
}
.color2{
    width: 50px;
    height: 40px;
    border: none;
    background-color: rgb(144, 70, 5);
}
.color3{
    width: 50px;
    height: 40px;
    margin: 5px;
    border: none;
    background-color: rgb(208, 115, 33)
}